body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Section */
.navbar {
  background: #ff900e1a;
  display: flex;
  justify-content: space-evenly;
}
.nav-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  transform: translateX(-50%);
  top: 50%;
}
.nav-item {
  list-style: none;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(60%);
  top: 50%;
}
.nav-item a {
  text-decoration: none;
  color: #424242;
  padding: 10px;
  margin: 20px;
}

.nav-item li:hover {
  background-color: lightcoral;
  border-radius: 2px;
  padding: 3px 0px;
}

.nav-item li a:hover {
  color: aliceblue;
}
