body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Section */
.architect-section {
  background: #ff900e1a;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
}

.nav-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  transform: translateX(-50%);
  top: 50%;
}

.nav-item {
  list-style: none;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(60%);
  top: 50%;
}

.nav-item a {
  text-decoration: none;
  color: #424242;
  padding: 10px;
  margin: 20px;
}

.nav-item li:hover {
  background-color: lightcoral;
  border-radius: 2px;
  padding: 3px 0px;
  transition: transform 0.5s ease;
  transform: translateX(1.5rem);
}

.nav-item li a:hover {
  color: aliceblue;
}

.banner {
  padding: 20px;
  text-align: center;
}

.banner-title {
  font-weight: 700;
  font-size: 64px;
  color: #131313;
  margin-bottom: 30px;
}

.banner-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 30px;
}

.primary-button {
  background-color: #ff900e;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  border: none;
  padding: 15px;
  border-radius: 3px;
  cursor: pointer;
}

.banner-img {
  margin-top: 30px;
  border-radius: 8px;
}

/* Features Section */
.features-section {
  padding: 1px 18vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-bottom: 200px;
}

.features-img {
  margin-top: 50px;
  width: 342px;
  height: 342px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.features-area {
  margin-top: 200px;
  font-weight: 500;
  font-size: 45px;
  grid-column: 3 / 3;
  grid-row: 1 / 2;
}
.features {
  color: #ff900e;
}
.our {
  color: #131313;
}
.quick-list {
  color: #727272;
}

.features-para {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
/* Features you will love & enjoy */
.features-love-enjoy {
  padding: 10px 8vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 170px;
}
.love-enjoy-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  border-left: 5px solid #ff900e;
  padding: 20px;
}

.love-enjoy-para {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}

.features-list {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 15px;
  border-radius: 5px;
}

.list-title {
  font-weight: 600;
  font-size: 20px;
  color: #131313;
}

.list-para {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}

.architect-img {
  width: 708px;
  height: 982px;
  border-radius: 8px;
}

.primary-button2 {
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
  background: #ff900e;
  padding: 25px;
  border: none;
  border-radius: 8px;
  transform: translateY(-70%);
  position: relative;
  right: 5vw;
}
.primary-button2 span {
  font-weight: 500;
  font-size: 25px;
}

/* Some Facts Section */
.some-facts {
  padding: 10px 15vw;
  margin-top: 198px;
}
.facts-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}

.facts-para {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 100px;
}

.achievement-list {
  display: flex;
  justify-content: space-around;
}

.achievement-item {
  border: 1px solid #ff900e;
  text-align: center;
  padding: 15px 2vw;
  border-radius: 5px;
  transition: transform 0.5s ease;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.achievement-item:hover {
  transform: rotate(360deg);
}

.digit {
  font-weight: 600;
  font-size: 45px;
  color: #424242;
}

.item-title {
  font-weight: 600;
  font-size: 20px;
  color: #727272;
}
/* Why do you hire our architect? */
.our-architect{
  margin-top: 100px;
  padding: 30px, 15vw;
}
.architect-title{
  font-weight: 600;
  font-size: 45px;
  color: #424242;
  text-align: center;
}
.architect-item{
  text-align: center;
}
.architect-para{
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
/* Our Sponsors Section */
.sponsors-section {
  text-align: center;
  margin-top: 180px;
}

.sponsors-icon {
  padding: 10px 15vw;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.spotify:hover {
  transition: transform 0.5s ease;
  transform: translateX(1.5rem);
}
.amazon:hover {
  transition: transform 0.5s ease;
  transform: translateX(-1.5rem);
}
.google:hover {
  transition: transform 0.5s ease;
  transform: translateY(1.5rem);
}
.telerama:hover {
  transition: transform 0.5s ease;
  transform: translateY(-1.5rem);
}
.figma:hover {
  transition: transform 0.5s ease;
  transform: translate(1.5rem);
}

/* Footer Section */
.footer-section {
  margin: 10px 20vw;
  height: 100px;
  margin-top: 130px;
}
.footer-para {
  padding: 25px 5vw;
  background: #fff4e7;
  font-weight: 400;
  font-size: 20px;
  color: #424242;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

/* Responsive for Mobile Devices */
@media (max-width: 576px) {
  body{
    margin: 0, auto;
  }
  .footer-section {
    width: max-content;
    margin: 60px;
  }
  .sponsors-icon{
    display: grid;
    row-gap: 30px;
  }
  .achievement-list{
    display: grid;
    row-gap: 30px;
  }
  .facts-title, .facts-para{
    text-align: center;
  }
  .features-love-enjoy{
    flex-direction: column;
    justify-content: center;
  }
  .list-para{
    margin-bottom: 20px;
  }
  .features-list{
    width: 100%;
  }
  .architect-img{
    margin-top: 20px;
    width: 100%;
    height: auto;
  }
}
